openapi: 3.1.0
info:
  title: JJHub API
  version: 1.0.0
  description: API for JJHub - a jj-native development platform
servers:
  - url: https://api.jjhub.tech
paths:
  /auth/key/nonce:
    get:
      summary: GET /auth/key/nonce
      description: Generate a single-use nonce for the Sign in with Key flow.
      operationId: get_auth_key_nonce
      tags:
        - Authentication
      responses:
        '200':
          description: Sign in with Key nonce generated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - nonce
                properties:
                  nonce:
                    type: string
                    description: Single-use nonce to embed in the Sign in with Key message.
                    example: abc123
              example:
                nonce: abc123
        '500':
          description: Failed to create auth nonce
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: failed to create auth nonce
                errors: []
  /auth/key/verify:
    post:
      summary: POST /auth/key/verify
      description: Verify a signed message and create a JJHub browser session.
      operationId: post_auth_key_verify
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - signature
              properties:
                message:
                  type: string
                  description: Full Sign in with Key message that includes the server-issued nonce.
                  example: |-
                    jjhub.tech wants you to sign in with your key:
                    0x71C7656EC7ab88b098defB751B7401B5f6d8976F

                    Sign in to JJHub

                    URI: https://jjhub.tech
                    Version: 1
                    Chain ID: 1
                    Nonce: abc123
                    Issued At: 2026-03-07T12:00:00Z
                signature:
                  type: string
                  description: Hex-encoded signature for the Sign in with Key message.
                  example: 0x5f2c9ab1
            example:
              message: |-
                jjhub.tech wants you to sign in with your key:
                0x71C7656EC7ab88b098defB751B7401B5f6d8976F

                Sign in to JJHub

                URI: https://jjhub.tech
                Version: 1
                Chain ID: 1
                Nonce: abc123
                Issued At: 2026-03-07T12:00:00Z
              signature: 0x5f2c9ab1
      responses:
        '200':
          description: Signature verified and session created
          headers:
            Set-Cookie:
              description: Includes `jjhub_session` and `__csrf` cookies.
              schema:
                type: string
                example: jjhub_session=3f1f2f3f-8e4c-4e6d-9d3a-123456789abc; Path=/; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                required:
                  - user
                properties:
                  user:
                    type: object
                    required:
                      - id
                      - username
                    properties:
                      id:
                        type: integer
                        format: int64
                        example: 42
                      username:
                        type: string
                        example: alice
              example:
                user:
                  id: 42
                  username: alice
        '400':
          description: Invalid request body or missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: message and signature are required
                errors: []
        '401':
          description: Invalid signature or invalid / expired nonce
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: invalid or expired nonce
                errors: []
        '403':
          description: Account is suspended or access is not permitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: account is suspended
                errors: []
        '409':
          description: Wallet address conflicts with an existing account
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: wallet address is already in use
                errors: []
        '415':
          description: Request content type must be application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: unsupported content type
                errors: []
        '429':
          description: Auth rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: rate limit exceeded
                errors: []
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: internal server error
                errors: []
  /auth/github:
    get:
      summary: GET /auth/github
      description: Start GitHub OAuth login. Sets an OAuth state cookie and redirects the browser to GitHub.
      operationId: get_auth_github
      tags:
        - Authentication
      responses:
        '302':
          description: Redirect to the GitHub OAuth authorization page
          headers:
            Location:
              description: GitHub OAuth authorization URL.
              schema:
                type: string
                format: uri
                example: https://github.com/login/oauth/authorize?client_id=abc123&state=state123&scope=read%3Auser+user%3Aemail
            Set-Cookie:
              description: OAuth state verifier cookie used to validate the callback.
              schema:
                type: string
                example: jjhub_oauth_state=8d3f4c2b; Path=/; HttpOnly; Secure; SameSite=Lax
        '429':
          description: Auth rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: rate limit exceeded
                errors: []
        '500':
          description: GitHub OAuth is not configured or state generation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: github oauth is not configured
                errors: []
  /auth/github/callback:
    get:
      summary: GET /auth/github/callback
      description: Complete GitHub OAuth login using the `code` and `state` query parameters returned by GitHub.
      operationId: get_auth_github_callback
      tags:
        - Authentication
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '302':
          description: GitHub OAuth completed and JJHub session created
          headers:
            Location:
              description: Post-login redirect target.
              schema:
                type: string
                example: /
            Set-Cookie:
              description: Includes `jjhub_session`, `__csrf`, and a clearing `jjhub_oauth_state` cookie.
              schema:
                type: string
                example: jjhub_session=3f1f2f3f-8e4c-4e6d-9d3a-123456789abc; Path=/; HttpOnly; Secure; SameSite=Strict
        '400':
          description: Missing query parameters or GitHub code exchange failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              examples:
                missingParams:
                  value:
                    message: code and state are required
                    errors: []
                exchangeFailed:
                  value:
                    message: failed to exchange github oauth code
                    errors: []
        '401':
          description: Invalid or replayed OAuth state
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: invalid oauth state
                errors: []
        '403':
          description: Account is suspended or access is not permitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: account is suspended
                errors: []
        '409':
          description: GitHub account email conflicts with an existing account
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: email address is already in use
                errors: []
        '429':
          description: Auth rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: rate limit exceeded
                errors: []
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: internal server error
                errors: []
  /repos/{owner}/{repo}:
    get:
      summary: GET /repos/{owner}/{repo}
      operationId: get_repos__owner___repo_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    patch:
      summary: PATCH /repos/{owner}/{repo}
      operationId: patch_repos__owner___repo_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: DELETE /repos/{owner}/{repo}
      operationId: delete_repos__owner___repo_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /user/repos:
    post:
      summary: POST /user/repos
      operationId: post_user_repos
      tags:
        - User
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    get:
      summary: GET /user/repos
      operationId: get_user_repos
      tags:
        - User
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /orgs/{org}/repos:
    post:
      summary: POST /orgs/{org}/repos
      operationId: post_orgs__org__repos
      tags:
        - Orgs
      parameters:
        - name: org
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    get:
      summary: GET /orgs/{org}/repos
      operationId: get_orgs__org__repos
      tags:
        - Orgs
      parameters:
        - name: org
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: GET /repos/{owner}/{repo}/contents/{path}
      operationId: get_repos__owner___repo__contents__path_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/git/trees/{sha}:
    get:
      summary: GET /repos/{owner}/{repo}/git/trees/{sha}
      operationId: get_repos__owner___repo__git_trees__sha_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/git/commits/{sha}:
    get:
      summary: GET /repos/{owner}/{repo}/git/commits/{sha}
      operationId: get_repos__owner___repo__git_commits__sha_
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: sha
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/git/refs:
    get:
      summary: GET /repos/{owner}/{repo}/git/refs
      operationId: get_repos__owner___repo__git_refs
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/topics:
    get:
      summary: GET /repos/{owner}/{repo}/topics
      operationId: get_repos__owner___repo__topics
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    put:
      summary: PUT /repos/{owner}/{repo}/topics
      operationId: put_repos__owner___repo__topics
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/stargazers:
    get:
      summary: GET /repos/{owner}/{repo}/stargazers
      operationId: get_repos__owner___repo__stargazers
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /user/starred/{owner}/{repo}:
    put:
      summary: PUT /user/starred/{owner}/{repo}
      operationId: put_user_starred__owner___repo_
      tags:
        - User
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: DELETE /user/starred/{owner}/{repo}
      operationId: delete_user_starred__owner___repo_
      tags:
        - User
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /user/starred:
    get:
      summary: GET /user/starred
      operationId: get_user_starred
      tags:
        - User
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/changes:
    get:
      summary: GET /repos/{owner}/{repo}/changes
      operationId: get_repos__owner___repo__changes
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of results to return (default 30, max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: Successful response
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        change_id:
                          type: string
                        commit_id:
                          type: string
                        description:
                          type: string
                        author_name:
                          type: string
                        author_email:
                          type: string
                        timestamp:
                          type: string
                        has_conflict:
                          type: boolean
                        is_empty:
                          type: boolean
                        parent_change_ids:
                          type: array
                          items:
                            type: string
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
  /repos/{owner}/{repo}/changes/{change_id}:
    get:
      summary: GET /repos/{owner}/{repo}/changes/{change_id}
      operationId: get_repos__owner___repo__changes__change_id_
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/changes/{change_id}/diff:
    get:
      summary: GET /repos/{owner}/{repo}/changes/{change_id}/diff
      operationId: get_repos__owner___repo__changes__change_id__diff
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/changes/{change_id}/files:
    get:
      summary: GET /repos/{owner}/{repo}/changes/{change_id}/files
      operationId: get_repos__owner___repo__changes__change_id__files
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/changes/{change_id}/conflicts:
    get:
      summary: GET /repos/{owner}/{repo}/changes/{change_id}/conflicts
      operationId: get_repos__owner___repo__changes__change_id__conflicts
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: change_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/bookmarks:
    get:
      summary: GET /repos/{owner}/{repo}/bookmarks
      operationId: get_repos__owner___repo__bookmarks
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/bookmarks
      operationId: post_repos__owner___repo__bookmarks
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/bookmarks/{name}:
    delete:
      summary: DELETE /repos/{owner}/{repo}/bookmarks/{name}
      operationId: delete_repos__owner___repo__bookmarks__name_
      tags:
        - VCS
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/operations:
    get:
      summary: GET /repos/{owner}/{repo}/operations
      operationId: get_repos__owner___repo__operations
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of results to return (default 30, max 100)
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: Successful response
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - operation_id
                        - description
                        - timestamp
                      properties:
                        operation_id:
                          type: string
                        description:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
  /repos/{owner}/{repo}/issues:
    get:
      summary: GET /repos/{owner}/{repo}/issues
      operationId: get_repos__owner___repo__issues
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/issues
      operationId: post_repos__owner___repo__issues
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/issues/{number}:
    get:
      summary: GET /repos/{owner}/{repo}/issues/{number}
      operationId: get_repos__owner___repo__issues__number_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    patch:
      summary: PATCH /repos/{owner}/{repo}/issues/{number}
      operationId: patch_repos__owner___repo__issues__number_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/issues/{number}/comments:
    get:
      summary: GET /repos/{owner}/{repo}/issues/{number}/comments
      operationId: get_repos__owner___repo__issues__number__comments
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/issues/{number}/comments
      operationId: post_repos__owner___repo__issues__number__comments
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/issues/comments/{id}:
    patch:
      summary: PATCH /repos/{owner}/{repo}/issues/comments/{id}
      operationId: patch_repos__owner___repo__issues_comments__id_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    delete:
      summary: DELETE /repos/{owner}/{repo}/issues/comments/{id}
      operationId: delete_repos__owner___repo__issues_comments__id_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/issues/{number}/reactions:
    get:
      summary: GET /repos/{owner}/{repo}/issues/{number}/reactions
      description: List reactions on an issue.
      operationId: get_repos__owner___repo__issues__number__reactions
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of reactions on the issue
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                        username:
                          type: string
                    content:
                      type: string
                      enum:
                        - '+1'
                        - '-1'
                        - laugh
                        - hooray
                        - confused
                        - heart
                        - rocket
                        - eyes
                    created_at:
                      type: string
                      format: date-time
    post:
      summary: POST /repos/{owner}/{repo}/issues/{number}/reactions
      description: Add a reaction to an issue.
      operationId: post_repos__owner___repo__issues__number__reactions
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  enum:
                    - '+1'
                    - '-1'
                    - laugh
                    - hooray
                    - confused
                    - heart
                    - rocket
                    - eyes
                  description: The reaction type to add.
            example:
              content: '+1'
      responses:
        '201':
          description: Reaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                      username:
                        type: string
                  content:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
  /repos/{owner}/{repo}/issues/{number}/reactions/{id}:
    delete:
      summary: DELETE /repos/{owner}/{repo}/issues/{number}/reactions/{id}
      description: Remove a reaction from an issue.
      operationId: delete_repos__owner___repo__issues__number__reactions__id_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: integer
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Reaction deleted
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
  /repos/{owner}/{repo}/issues/comments/{id}/reactions:
    get:
      summary: GET /repos/{owner}/{repo}/issues/comments/{id}/reactions
      description: List reactions on an issue comment.
      operationId: get_repos__owner___repo__issues_comments__id__reactions
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of reactions on the comment
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                        username:
                          type: string
                    content:
                      type: string
                      enum:
                        - '+1'
                        - '-1'
                        - laugh
                        - hooray
                        - confused
                        - heart
                        - rocket
                        - eyes
                    created_at:
                      type: string
                      format: date-time
    post:
      summary: POST /repos/{owner}/{repo}/issues/comments/{id}/reactions
      description: Add a reaction to an issue comment.
      operationId: post_repos__owner___repo__issues_comments__id__reactions
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  enum:
                    - '+1'
                    - '-1'
                    - laugh
                    - hooray
                    - confused
                    - heart
                    - rocket
                    - eyes
                  description: The reaction type to add.
            example:
              content: rocket
      responses:
        '201':
          description: Reaction created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                      username:
                        type: string
                  content:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
  /repos/{owner}/{repo}/issues/comments/{id}/reactions/{reaction_id}:
    delete:
      summary: DELETE /repos/{owner}/{repo}/issues/comments/{id}/reactions/{reaction_id}
      description: Remove a reaction from an issue comment.
      operationId: delete_repos__owner___repo__issues_comments__id__reactions__reaction_id_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: reaction_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Reaction deleted
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
  /repos/{owner}/{repo}/issues/{number}/labels:
    get:
      summary: GET /repos/{owner}/{repo}/issues/{number}/labels
      operationId: get_repos__owner___repo__issues__number__labels
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/issues/{number}/labels
      operationId: post_repos__owner___repo__issues__number__labels
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/issues/{number}/labels/{name}:
    delete:
      summary: DELETE /repos/{owner}/{repo}/issues/{number}/labels/{name}
      operationId: delete_repos__owner___repo__issues__number__labels__name_
      tags:
        - Issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/hooks:
    get:
      summary: List webhooks for a repository
      operationId: list_repo_hooks
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: List of webhooks
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
    post:
      summary: Create a webhook for a repository
      operationId: create_repo_hook
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHookOption'
      responses:
        '201':
          description: Webhook created successfully. A ping event is sent to verify the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '422':
          description: Validation error (invalid URL, missing events, etc.)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
  /repos/{owner}/{repo}/hooks/{id}:
    get:
      summary: Get a webhook by ID
      operationId: get_repo_hook
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Webhook not found
    patch:
      summary: Update a webhook
      operationId: update_repo_hook
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditHookOption'
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Webhook not found
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
    delete:
      summary: Delete a webhook
      operationId: delete_repo_hook
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Webhook deleted successfully
        '404':
          description: Webhook not found
  /repos/{owner}/{repo}/hooks/{id}/deliveries:
    get:
      summary: List deliveries for a webhook
      operationId: list_hook_deliveries
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: List of recent deliveries (last 30)
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HookDelivery'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
        '404':
          description: Webhook not found
  /repos/{owner}/{repo}/hooks/{id}/deliveries/{delivery_id}/replay:
    post:
      summary: Replay a webhook delivery
      operationId: replay_hook_delivery
      tags:
        - Webhooks
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: delivery_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Delivery replayed successfully
        '404':
          description: Webhook or delivery not found
  /repos/{owner}/{repo}/labels:
    get:
      summary: GET /repos/{owner}/{repo}/labels
      operationId: get_repos__owner___repo__labels
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/labels
      operationId: post_repos__owner___repo__labels
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/milestones:
    get:
      summary: GET /repos/{owner}/{repo}/milestones
      operationId: get_repos__owner___repo__milestones
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/milestones
      operationId: post_repos__owner___repo__milestones
      tags:
        - Repos
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings:
    get:
      summary: GET /repos/{owner}/{repo}/landings
      operationId: get_repos__owner___repo__landings
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/landings
      operationId: post_repos__owner___repo__landings
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}
      operationId: get_repos__owner___repo__landings__number_
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    patch:
      summary: PATCH /repos/{owner}/{repo}/landings/{number}
      operationId: patch_repos__owner___repo__landings__number_
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/land:
    put:
      summary: PUT /repos/{owner}/{repo}/landings/{number}/land
      operationId: put_repos__owner___repo__landings__number__land
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/reviews:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/reviews
      operationId: get_repos__owner___repo__landings__number__reviews
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/landings/{number}/reviews
      operationId: post_repos__owner___repo__landings__number__reviews
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/comments:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/comments
      operationId: get_repos__owner___repo__landings__number__comments
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      summary: POST /repos/{owner}/{repo}/landings/{number}/comments
      operationId: post_repos__owner___repo__landings__number__comments
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/changes:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/changes
      operationId: get_repos__owner___repo__landings__number__changes
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/conflicts:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/conflicts
      operationId: get_repos__owner___repo__landings__number__conflicts
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /repos/{owner}/{repo}/landings/{number}/suggestions:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/suggestions
      description: List suggested changes on a landing request. Suggestions are inline code proposals created by reviewers that the author can accept or reject.
      operationId: get_repos__owner___repo__landings__number__suggestions
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, accepted, rejected]
          description: Filter by suggestion status
      responses:
        '200':
          description: List of suggestions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    landing_number:
                      type: integer
                    author:
                      type: object
                      properties:
                        login:
                          type: string
                        id:
                          type: integer
                    body:
                      type: string
                      description: Review comment text accompanying the suggestion
                    path:
                      type: string
                      description: File path the suggestion applies to
                    start_line:
                      type: integer
                      description: First line number being replaced
                    end_line:
                      type: integer
                      description: Last line number being replaced
                    suggestion:
                      type: string
                      description: Replacement code content
                    status:
                      type: string
                      enum: [pending, accepted, rejected]
                    change_id:
                      type: string
                      nullable: true
                      description: Change ID of the change created when the suggestion was accepted
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
              example:
                - id: 7
                  landing_number: 42
                  author:
                    login: reviewer
                    id: 2
                  body: The error message should be more descriptive.
                  path: internal/routes/auth.go
                  start_line: 45
                  end_line: 45
                  suggestion: "return fmt.Errorf(\"authentication failed: invalid token format for user %s\", username)"
                  status: pending
                  change_id: null
                  created_at: "2024-01-15T11:00:00Z"
                  updated_at: "2024-01-15T11:00:00Z"
    post:
      summary: POST /repos/{owner}/{repo}/landings/{number}/suggestions
      description: Create a suggested change on a landing request. The suggestion proposes replacement code for specific lines in a file.
      operationId: post_repos__owner___repo__landings__number__suggestions
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
                - start_line
                - end_line
                - suggestion
              properties:
                body:
                  type: string
                  description: Review comment text accompanying the suggestion
                path:
                  type: string
                  description: File path the suggestion applies to
                start_line:
                  type: integer
                  description: First line number being replaced
                end_line:
                  type: integer
                  description: Last line number being replaced
                suggestion:
                  type: string
                  description: Replacement code content
            example:
              body: The error message should be more descriptive.
              path: internal/routes/auth.go
              start_line: 45
              end_line: 45
              suggestion: "return fmt.Errorf(\"authentication failed: invalid token format for user %s\", username)"
      responses:
        '201':
          description: Suggestion created
          content:
            application/json:
              schema:
                type: object
              example:
                id: 7
                landing_number: 42
                author:
                  login: reviewer
                  id: 2
                body: The error message should be more descriptive.
                path: internal/routes/auth.go
                start_line: 45
                end_line: 45
                suggestion: "return fmt.Errorf(\"authentication failed: invalid token format for user %s\", username)"
                status: pending
                change_id: null
                created_at: "2024-01-15T11:00:00Z"
                updated_at: "2024-01-15T11:00:00Z"
        '404':
          description: Landing request not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: landing request not found
        '422':
          description: Invalid suggestion (e.g., line range out of bounds)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
              example:
                message: Validation Failed
                errors:
                  - resource: Suggestion
                    field: end_line
                    code: invalid
  /repos/{owner}/{repo}/landings/{number}/suggestions/{id}:
    get:
      summary: GET /repos/{owner}/{repo}/landings/{number}/suggestions/{id}
      description: Get a specific suggested change by ID.
      operationId: get_repos__owner___repo__landings__number__suggestions__id
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Suggestion details
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Suggestion not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: suggestion not found
  /repos/{owner}/{repo}/landings/{number}/suggestions/{id}/accept:
    put:
      summary: PUT /repos/{owner}/{repo}/landings/{number}/suggestions/{id}/accept
      description: Accept a suggested change. This creates a new jj change with the suggested code replacement applied to the target file. The new change is added to the landing request's change stack.
      operationId: put_repos__owner___repo__landings__number__suggestions__id__accept
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Suggestion accepted, new change created
          content:
            application/json:
              schema:
                type: object
              example:
                id: 7
                status: accepted
                change_id: kxyz1234abcd
                applied_at: "2024-01-15T11:05:00Z"
        '404':
          description: Suggestion not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: suggestion not found
        '409':
          description: Suggestion already accepted or rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: suggestion has already been accepted
  /repos/{owner}/{repo}/landings/{number}/suggestions/{id}/reject:
    put:
      summary: PUT /repos/{owner}/{repo}/landings/{number}/suggestions/{id}/reject
      description: Reject a suggested change. No code modifications are made.
      operationId: put_repos__owner___repo__landings__number__suggestions__id__reject
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Suggestion rejected
          content:
            application/json:
              schema:
                type: object
              example:
                id: 7
                status: rejected
                updated_at: "2024-01-15T11:05:00Z"
        '404':
          description: Suggestion not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: suggestion not found
        '409':
          description: Suggestion already accepted or rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: suggestion has already been rejected
  /repos/{owner}/{repo}/landings/{number}/suggestions/accept-all:
    put:
      summary: PUT /repos/{owner}/{repo}/landings/{number}/suggestions/accept-all
      description: Accept all pending suggestions on a landing request at once. Creates one new jj change per suggestion, or a single combined change if the squash query parameter is set.
      operationId: put_repos__owner___repo__landings__number__suggestions__accept_all
      tags:
        - Landings
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: number
          in: path
          required: true
          schema:
            type: string
        - name: squash
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: If true, combine all accepted suggestions into a single change
      responses:
        '200':
          description: All pending suggestions accepted
          content:
            application/json:
              schema:
                type: object
              example:
                accepted_count: 3
                change_ids:
                  - kxyz1234abcd
                  - kabc5678efgh
                  - kdef9012ijkl
        '404':
          description: Landing request not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: landing request not found
  /repos/{owner}/{repo}/wiki:
    get:
      summary: GET /repos/{owner}/{repo}/wiki
      description: List wiki pages for a repository. Pass `q` to search titles, slugs, and markdown bodies.
      operationId: get_repos__owner___repo__wiki
      tags:
        - Wiki
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Wiki page summaries ordered by most recent update
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - slug
                    - title
                    - author
                    - created_at
                    - updated_at
                  properties:
                    id:
                      type: integer
                      format: int64
                    slug:
                      type: string
                    title:
                      type: string
                    author:
                      type: object
                      required:
                        - id
                        - login
                      properties:
                        id:
                          type: integer
                          format: int64
                        login:
                          type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
    post:
      summary: POST /repos/{owner}/{repo}/wiki
      description: Create a repository wiki page.
      operationId: post_repos__owner___repo__wiki
      tags:
        - Wiki
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                slug:
                  type: string
                body:
                  type: string
            example:
              title: Runbook
              slug: runbook
              body: "# Runbook"
      responses:
        '201':
          description: Wiki page created
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - slug
                  - title
                  - body
                  - author
                  - created_at
                  - updated_at
                properties:
                  id:
                    type: integer
                    format: int64
                  slug:
                    type: string
                  title:
                    type: string
                  body:
                    type: string
                  author:
                    type: object
                    required:
                      - id
                      - login
                    properties:
                      id:
                        type: integer
                        format: int64
                      login:
                        type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
  /repos/{owner}/{repo}/wiki/{slug}:
    get:
      summary: GET /repos/{owner}/{repo}/wiki/{slug}
      description: Return a single repository wiki page.
      operationId: get_repos__owner___repo__wiki__slug_
      tags:
        - Wiki
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Full wiki page
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - slug
                  - title
                  - body
                  - author
                  - created_at
                  - updated_at
                properties:
                  id:
                    type: integer
                    format: int64
                  slug:
                    type: string
                  title:
                    type: string
                  body:
                    type: string
                  author:
                    type: object
                    required:
                      - id
                      - login
                    properties:
                      id:
                        type: integer
                        format: int64
                      login:
                        type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
    patch:
      summary: PATCH /repos/{owner}/{repo}/wiki/{slug}
      description: Update a repository wiki page.
      operationId: patch_repos__owner___repo__wiki__slug_
      tags:
        - Wiki
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                title:
                  type: string
                slug:
                  type: string
                body:
                  type: string
            example:
              title: Updated Runbook
              body: "# Updated Runbook"
      responses:
        '200':
          description: Updated wiki page
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - slug
                  - title
                  - body
                  - author
                  - created_at
                  - updated_at
                properties:
                  id:
                    type: integer
                    format: int64
                  slug:
                    type: string
                  title:
                    type: string
                  body:
                    type: string
                  author:
                    type: object
                    required:
                      - id
                      - login
                    properties:
                      id:
                        type: integer
                        format: int64
                      login:
                        type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
    delete:
      summary: DELETE /repos/{owner}/{repo}/wiki/{slug}
      description: Delete a repository wiki page.
      operationId: delete_repos__owner___repo__wiki__slug_
      tags:
        - Wiki
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Wiki page deleted
  /repos/{owner}/{repo}/agent/sessions:
    get:
      summary: GET /repos/{owner}/{repo}/agent/sessions
      description: List agent sessions for a repository.
      operationId: get_repos__owner___repo__agent_sessions
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: List of agent sessions
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentSession'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
    post:
      summary: POST /repos/{owner}/{repo}/agent/sessions
      description: Create a new agent session for the repository.
      operationId: post_repos__owner___repo__agent_sessions
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Optional session title.
      responses:
        '201':
          description: Agent session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
  /repos/{owner}/{repo}/agent/sessions/{id}:
    get:
      summary: GET /repos/{owner}/{repo}/agent/sessions/{id}
      description: Get a single agent session.
      operationId: get_repos__owner___repo__agent_sessions__id_
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
  /repos/{owner}/{repo}/agent/sessions/{id}/messages:
    get:
      summary: GET /repos/{owner}/{repo}/agent/sessions/{id}/messages
      description: List messages for an agent session in sequence order.
      operationId: get_repos__owner___repo__agent_sessions__id__messages
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: List of agent messages
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentMessage'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
    post:
      summary: POST /repos/{owner}/{repo}/agent/sessions/{id}/messages
      description: Append a message to an agent session. Posting a `user` message dispatches a cloud VM-backed agent run.
      operationId: post_repos__owner___repo__agent_sessions__id__messages
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - parts
              properties:
                role:
                  type: string
                  enum: [user, assistant, system, tool]
                parts:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - content
                    properties:
                      type:
                        type: string
                        enum: [text, tool_call, tool_result]
                      content:
                        description: Message part payload. Text parts accept either a string or an object.
      responses:
        '201':
          description: Agent message created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessage'
  /repos/{owner}/{repo}/agent/sessions/{id}/stream:
    get:
      summary: GET /repos/{owner}/{repo}/agent/sessions/{id}/stream
      description: SSE endpoint for agent session output and terminal done events.
      operationId: get_repos__owner___repo__agent_sessions__id__stream
      tags:
        - Agent
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
  /repos/{owner}/{repo}/workspaces:
    get:
      summary: GET /repos/{owner}/{repo}/workspaces
      description: List first-class workspaces for the repository.
      operationId: get_repos__owner___repo__workspaces
      tags:
        - Workspaces
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Opaque cursor from a previous response's next_cursor field
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
      responses:
        '200':
          description: List of workspaces
          headers:
            Link:
              description: RFC 8288 pagination links with cursor-based URLs.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - next_cursor
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for fetching the next page. Null when there are no more results.
    post:
      summary: POST /repos/{owner}/{repo}/workspaces
      description: Create or resume a cloud workspace.
[...]
